.container h2 {
  border-bottom: 1px solid black;
  margin: 10px;
}

.container .new-tweet {
  background: #eee;
  border-radius: 7px;
  border: 2px solid #c0c0c0;
  margin: 2em;
  position: relative;
}

.container .new-tweet input {
  bottom: 10px;
  font-size: 20px;
  height: 35px;
  left: 10px;
  padding-top: 5px;
  float: left;
  width: 70px;
}

.container .new-tweet .counter {
  bottom: 10px;
  font-size: 18px;
  font-style: italic;
  float: right;
  margin-top: 5px;
  right: 18px;
}

form {
  margin: 10px;
  overflow: auto;
}

textarea {
  margin-top: 8px;
  width: 100%;
}

textarea[placeholder] {
  padding: 6px;
}
