article.tweet {
  border-radius: 7px;
  border: 2px solid #c0c0c0;
  margin-top: 10px;
}

article.tweet:hover {
  border-radius: 7px;
  border: 2px solid black;
}

article.tweet:hover footer.tweet-footer span {
  bottom: 0px;
  display: block;
  position: absolute;
  right: 15px;
}

article.tweet header {
  background: #eee;
  border-radius: 7px 7px 0 0;
  margin: 0;
  overflow: auto;
}

#tweets-container {
  margin: 2em;
}
footer.tweet-footer {
  position: relative;
}

footer.tweet-footer p {
  line-height: 20px;
  padding-left: 15px;
}

footer.tweet-footer span {
  bottom: 0px;
  display: none;
  position: absolute;
  right: 15px;
}

header.tweet-header h1 {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

header.tweet-header img {
  border-radius: 7px;
  float: left;
  margin-left: 15px;
  margin-top: 7px;
}

header.tweet-header p {
  float: right;
  margin-right: 15px;
  margin-top: 17px;
}

section.tweet-content {
  border-bottom: 1px solid #c0c0c0;
  clear: both;
}

section.tweet-content p {
  padding: 15px;
}
